:root {
  --color-white: #ffffff;
  --color-black: #232536;
  --color-dark-yellow: #EDC14A;
  --color-yellow: #FFD050;
  --font-inter: "Inter", sans-serif;
  --font-sen: "Sen", sans-serif;
}

body {
  font-family: var(--font-inter);
  color: var(--color-black);
  margin: 0;
}

/* ===== Utility Classes ===== */
/* Layout */
.w-full { 
  width: 1280px; 
}

.w-100\% {
  width: 100%;
}

.w-804 { 
  width: 804px; 
}

.w-599 { 
  width: 599px; 
}

.h-full { 
  height: 100%; 
}

.min-h-20 { 
  min-height: 80px;
 }

.h-20 { 
  height: 80px; 
}

.h-720 {
  height: 720px;
}

.flex { 
  display: flex; 
}

.items-center { 
  align-items: center; 
}

.justify-between { 
  justify-content: space-between; 
}

.items-center { 
  align-items: center; 
}

.inline-flex { 
  display: inline-flex; 
}

.justify-center { 
  justify-content: center; 
}


.gap-8 { 
  gap: 32px;
}

.gap-6 { 
  gap: 24px; 
}

.px-20 { 
  padding-left: 80px; 
  padding-right: 80px; 
}

.py-4 { 
  padding-top: 16px; 
  padding-bottom: 16px; 
}

.px-12 { 
  padding-left: 48px; 
  padding-right: 48px; 
}

.p-0 { 
  padding: 0; 
}

.left-20 { 
  left: 80px; 
}

.top-32 { 
  top: 128px; 
}

.mb-6 { 
  margin-bottom: 24px; 
}

.mb-4 { 
  margin-bottom: 16px; 
}

.mb-12 { 
  margin-bottom: 48px; 
}

.relative { 
  position: relative; 
}

.absolute { 
  position: absolute; 
}

.inset-0 { 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
}

.shrink-0 { 
  flex-shrink: 0; 
}

.object-cover { 
  object-fit: cover; 
}

/* Typography */
.text-white { 
  color: var(--color-white); 
}

.text-black { 
  color: var(--color-black); 
}

.text-yellow { 
  color: var(--color-yellow); 
}

.font-inter { 
  font-family: var(--font-inter); 
}

.font-sen { 
  font-family: var(--font-sen); 
}

.text-base { 
  font-size: 16px; 
}

.text-lg { 
  font-size: 18px; 
}

.text-56 { 
  font-size: 56px; 
}

.font-normal { 
  font-weight: 400; 
}

.font-bold { 
  font-weight: 700; 
}

.leading-7 { 
  line-height: 28px; 
}

.leading-6 { 
  line-height: 24px; 
}

.leading-64 { 
  line-height: 64px; 
}

.tracking-widest { 
  letter-spacing: 3px; 
}

.tracking-tighter { 
  letter-spacing: -2px; 
}

.uppercase { 
  text-transform: uppercase; 
}

.no-underline { 
  text-decoration: none; 
}

/* Background */
.bg-white { 
  background-color: var(--color-white); 
}

.bg-black { 
  background-color: var(--color-black); 
}

.bg-dark-yellow { 
  background-color: var(--color-dark-yellow); 
}

.bg-yellow { 
  background-color: var(--color-yellow); 
}

.bg-gradient-radial {
  background: radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
}

/* Cursors */
.cursor-pointer { 
  cursor: pointer; 
}

/* Hover */
.hover\:bg-dark-yellow:hover { 
  background-color: var(--color-dark-yellow); 
}

/* Icons */
.w-6 { 
  width: 24px; 
}

.h-6 { 
  height: 24px; 
}

/* Visibility */
.hidden { 
  display: none; 
}

/* ===== Media Queries ===== */
@media (max-width: 991px) {
  .px-20 { 
    padding-left: 40px; 
    padding-right: 40px; 
  }
  .hidden { 
    display: block; 
  }

  .flex.items-center.gap-6 { 
    display: none; 
  }

  .left-20 { 
    left: 40px; 
  }

  .w-804 { 
    width: 80%; 
  }
}

@media (max-width: 640px) {
  .px-20 { 
    padding-left: 20px; 
    padding-right: 20px; 
  }

  .left-20 { 
    left: 20px; 
  }

  .w-804 { 
    width: 90%; 
  }

  .top-32 { 
    top: 80px; 
  }

  .text-56 { 
    font-size: 32px; 
    line-height: 40px; 
  }

  .w-599 { 
    width: 100%; 
  }
}