:root {
  --color-white: #ffffff;
  --color-black: #232536;
  --color-dark-yellow: #EDC14A;
  --color-yellow: #FFD050;
  --color-light-yellow: #FBF6EA;
  --color-dark-grey: #4C4C4C;
  --color-medium-grey: #6D6E76;
  --color-light-grey: #F4F4F4;
  --color-purple: #592EA9;
  --color-light-purple: #F4F0F8;
  --font-inter: "Inter", sans-serif;
  --font-sen: "Sen", sans-serif;

  --color-primary: var(--color-yellow);
  --color-secondary: var(--color-purple);

  --bg-primary: var(--color-white);
  --text-color: var(--color-black);

  --font-primary: var(--font-inter);
  --font-secondary: var(--font-sen);

  --leading-display: 64px;
  --leading-subheading: 20px;
  --leading-h1: 64px;
  --leading-h2: 48px;
  --leading-h3: 36px;
  --leading-h4: 32px;
  --leading-h5: 32px;
  --leading-h6: 24px;
  --leading-body1: 28px;
  --leading-body2: 20px;
  --leading-label: 20px;

  --font-size-display: 56px;
  --font-size-h1: 48px;
  --font-size-h2: 36px;
  --font-size-h3: 28px;
  --font-size-h4: 24px;
  --font-size-h5: 20px;
  --font-size-h6: 16px;
  --font-size-body1: 16px;
  --font-size-body2: 14px;
  --font-size-label: 14px;

  --font-size-btn: 18px;
  --font-size-input: 16px;

  --gap-8: 8px;
  --gap-16: 16px;
  --gap-24: 24px;
  --gap-32: 32px;

  --control-size: 56px;
  --control-padding: 0 24px;
}

body {
  color: var(--text-color);
  background-color: var(--bg-primary);
  font-family: var(--font-primary);
  font-weight: 400;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

p {
  font-size: var(--font-size-body1);
  line-height: var(--leading-body1);
}


h1 {
  font-size: var(--font-size-h1);
  line-height: var(--leading-h1);
  font-family: var(--font-secondary);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--leading-h2);
  font-family: var(--font-secondary);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--leading-h3);
  font-family: var(--font-secondary);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--leading-h4);
  font-family: var(--font-secondary);
}

h5 {
  font-size: var(--font-size-h5);
  line-height: var(--leading-h5);
  font-family: var(--font-secondary);
}

h6 {
  font-size: var(--font-size-h6);
  line-height: var(--leading-h6);
  font-family: var(--font-secondary);
}

img {
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}

button {
  font-family: var(--font-secondary);
  cursor: pointer;
  border: none;
}

/* Layout */

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-32);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-32);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-32);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.object-cover {
  object-fit: cover;
}

/* Typography */
.text-display {
  font-family: var(--font-secondary);
  font-size: var(--font-size-display);
  line-height: var(--leading-display);
  margin: 0;
}

.text-h1 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h1);
  line-height: var(--leading-h1);
  font-weight: 700;
  margin: 0;
}

.text-h2 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h2);
  line-height: var(--leading-h2);
  font-weight: 700;
  margin: 0;
}

.text-h3 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h3);
  line-height: var(--leading-h3);
  font-weight: 700;
  margin: 0;
}

.text-h4 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h4);
  line-height: var(--leading-h4);
  font-weight: 700;
  margin: 0;
}

.text-h5 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h5);
  line-height: var(--leading-h5);
  font-weight: 700;
  margin: 0;
}

.text-h6 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h6);
  line-height: var(--leading-h6);
  font-weight: 700;
  margin: 0;
}

.text-body-1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-body1);
  line-height: var(--leading-body1);
}

.text-body-2 {
  font-family: var(--font-primary);
  font-size: var(--font-size-body2);
  line-height: var(--leading-body2);
}

.text-label {
  font-size: var(--font-size-label);
  line-height: var(--leading-label);
}

.text-subheading-1 {
  font-size: var(--font-size-body1);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: var(--leading-subheading);
  margin: 0;
  letter-spacing: 3px;
}

.text-subheading-2 {
  font-size: var(--font-size-body2);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: var(--leading-subheading);
  margin: 0;
  letter-spacing: 3px;;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-regular {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

/* Spacing */
.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-2\/3 {
  width: 66.666667%;
}

.h-full {
  height: 100%;
}

.h-720 {
  height: 720px;
}

.gap-1 {
  gap: var(--gap-32);
}

.gap-2 {
  gap: var(--gap-24);
}

.gap-3 {
  gap: var(--gap-16);
}

.gap-4 {
  gap: var(--gap-8);
}

.m-0 {
  margin: 0;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-64 {
  margin-bottom: 64px;
}

.p-32 {
  padding: 32px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* Colors */
.bg-black {
  background-color: var(--color-black);
}

.bg-light-yellow {
  background-color: var(--color-light-yellow);
}

.bg-light-purple {
  background-color: var(--color-purple);
}

.text-white {
  color: var(--color-white);
}

.text-yellow {
  color: var(--color-yellow);
}

.text-medium-grey {
  color: var(--color-medium-grey);
}

.text-dark-grey {
  color: var(--color-dark-grey);
}

.text-purple {
  color: var(--color-purple);
}

.border {
  border: 1px solid;
}

.border-medium-grey\/10 {
  border-color: rgba(109, 110, 118, 0.1);
}

/* Effects */
.bg-overlay {
  position: absolute;
}

.bg-overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Components */
.section {
  padding: 64px 0;
}

.btn {
  height: var(--control-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 48px;
  font-family: var(--font-secondary);
  font-size: var(--font-size-btn);
  font-weight: 700;
  color: var(--text-color);
  position: relative;
  background-color: var(--bg-primary);
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
}

.btn:hover::before {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-black);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn-fluid {
  width: 100%;
}

a:hover .article-item {
  background-color: var(--color-light-yellow);
}

.article-item {
  padding-bottom: 24px;
}

.introduce {
  padding: 96px;
  padding-bottom: 80px;
  background-color: var(--color-light-purple);
  border-top: 24px solid var(--color-white);
  position: relative;
}

.introduce::before {
  content: "";
  position: absolute;
  width: 282px;
  height: 24px;
  display: block;
  top: -24px;
  right: 0;
  background-color: var(--color-purple);
}

.introduce::after {
  content: "";
  position: absolute;
  width: 843px;
  height: 24px;
  display: block;
  top: -24px;
  right: 282px;
  background-color: var(--color-yellow);
}













